<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.m.aplikacja_screen">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- pozwolenie na korzystanie z Internetu -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- android:icon="@mipmap/ic_launcher" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_screen"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.package.name.MyActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Wybor_kategorii" />
        <activity android:name=".Tworzenie_zestawu" />
        <activity android:name=".Moje_zestawy" />
        <activity android:name=".Wybor_zadania" />
        <activity android:name=".Zapomniane_haslo" />
        <activity android:name=".NoweHaslo" />
        <activity android:name=".Dodanie_fiszki" />
        <activity android:name=".Nauka_fiszki" />
        <activity android:name=".Moj_profil" />
        <activity android:name=".Statystyka" />
        <activity android:name=".EdytowanieZestawu" />
        <activity android:name=".EdytowanieFiszki" />
        <activity android:name=".UsuwanieFiszek" />
        <activity android:name=".Dopasowanie">
        </activity>
        <activity android:name=".Wybor">
        </activity>
        <activity android:name=".Tlumaczenie">
        </activity>
        <activity android:name=".Laczenie">
        </activity>
        <activity android:name=".Uzupelnianie">
        </activity>
        <activity android:name=".PlanszaKwadratowa">
        </activity>
    </application>

</manifest>